body {
  background-color: lightblue;
  font-size: 1.5;
  }  
p {
  margin: 1em 3em;
  }
div.job_title {
  margin: 1em 1.5em;
  }
#banner {
  text-align: center;
  text-shadow: 2px 2px 5px #FF3403;
  font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  text-align: center;
  margin: 0.5em 0.5em;
  }
img#jhowell_headshot{
  box-shadow: 10px 10px 5px #6b6b6b;
  -moz-box-shadow: 10px 10px 5px #6b6b6b;
  -webkit-box-shadow: 10px 10px 5px #6b6b6b;
  -khtml-box-shadow: 10px 10px 5px #6b6b6b;
  height: auto;
  width: 15%;
  }
img#jhowell_banner {
  height: auto;
  width: 60%;
  }
img#jhowell_cupcake{
  box-shadow: 10px 10px 5px #6b6b6b;
  -moz-box-shadow: 10px 10px 5px #6b6b6b;
  -webkit-box-shadow: 10px 10px 5px #6b6b6b;
  -khtml-box-shadow: 10px 10px 5px #6b6b6b;
  height: auto;
  width: 15%;
  }
